@import url("http://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
    font-family: "Poppins", sans-serif;
}
body{
    background-image: url('/static/Images/Extratorbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.textbox span {
    font-size: 65px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    padding-bottom: 30px;
    padding-right: 150px;
    color: #36e4f4;
    overflow: hidden;
    animation: typing 2s, cursor .4s step-end infinite alternate;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes cursor {
    from {
      border-right-color: #36e4f4;
    }
    to {
      border-right-color: transparent;
    }
  }
  

.textbox{
    margin-top: 0px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    background: transparent;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    width:10%;
    margin-right:150px;
    margin-top:25px;
}
.hero-btn:hover{
    border: #36e4f4;
    background: #36e4f4;
    transition: 1s;

}

.textbox{
    width: 100%;
    color: #fff;
    position: absolute;
    font-size: 30px;
    top: 55%;
    left: 70%;
    transform: translate(-50%,-50%);
    text-align: center;

}







