<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'stylesheets/homepage.css')}}">
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-IG8WryN1QaLrwpEgNc/m9XN9SG+hYVdbnivjrT1FQj8TIO+R7eHkRnFNb7yDfWmzlG7YKyR0z0CTcFLpOxDf3A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-eOiTNK7VHYhB0ePI7tj8wN+I7vJ1hY/3+iqsbxWwpX9bwwHmOoZJm2C8WwJrOvO03AaL1im/xns8Kj9sVbQtA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Meltcurve Interpreter</title>

</head>
<body>

    <a href="#" class="title">
        <img src="{{url_for('static',filename = 'Images/micrologo1.png')}}" alt="">
    </a>
    <div class="box">
      <div class="container">
      <main>
        <section>
          <h2 class="title1">About Us</h2>
            <p class="content">Microbiological Laboratory Research and Services India Private Limited (MLRS) was started in the year 2010 by passionate microbiologists who were trained and serving at CMC, Vellore. MLRS focuses on microbiology range of products such as commercial production of high quality ready-to-use microbiological culture media for clinical and industrial use. MLRS also provides training in research & diagnostic microbiology.</p>
              <a href="https://microserv.in/about.html" target="_blank">Learn More</a>
            <h2 class="title1">Our Vision</h2>
                <p class="content">To achieve excellence through innovation in developing and manufacturing high-sensitivity Invitro Diagnostic kits and media to improve the quality of clinical diagnosis.</p>
                <p class="content">We at Microbiological Laboratory Research and Services India Private Limited (MLRS) are committed to design, develop, and manufacture high-quality invitro-diagnostic kits, ready-to-use culture media, diagnostic reagents, and biological controls. Our products provide clinical laboratories and hospitals a cost-effective solution for generating reliable patient test reports on a par with national and global standards.</p>
        </section>
        <section>
            <h2 class="title1">Our Products</h2>
                <ul class="content">
                <li class="content" >Agar Plates</li>
                <li class="content">High Quality Media Plates</li>
                <li class="content">Diagnostics Optimization</li>
                <a href="https://microserv.in/products.html" target="_blank">View All Products</a>
            </ul>


          <h2 class="title1">Our Services</h2>
            <ul class="content">
                <li class="content">Dying of microbes cultures</li>
                <li class="content">STaTAST</li>
                <li class="content">Sepsis panel</li>
                <li class="content">AI based Interpretation</li>
            </ul>


        </section>
      </main>

      <footer>
        <br><br><br><br><br>
        <div class="bot">
          <a href="https://github.com/MLRS-dev" target="_blank">
            <i class="fab fa-github"></i> &nbsp; &nbsp; GitHub
          </a>
          <a href="mailto:prject.2023.by@gmail.com" target="_blank">
            <i class="far fa-envelope"></i> &nbsp; &nbsp; Contact mail
          </a>
          <a href="https://goo.gl/maps/rD27fAbk5DDFVuTAA" target="_blank">
              <i class="fas fa-map-marked-alt"></i> &nbsp; &nbsp; &nbsp;Address
          </a>

          <p > &nbsp;&nbsp;&copy; 2023 MLRS India Pvt Ltd. All rights reserved.</p>
        </div>
      </footer>
    </div>
      </div>

<nav>
        <ul>
            <li>
                <a href="home.html" class="logo">
                    <img src="{{url_for('static',filename = 'Images/icon.ico')}}" alt="">
                    <span class="nav-item">Meltcurve <br> &nbsp;&nbsp;Interpreter</span>
                </a>
            </li>
            <li><a href="#">
                <i class="fas fa-home"></i>
                <span class="nav-item">Home</span>
            </a></li>
            <li><a href="index.html">
                <i class="fas fa-file-excel"></i>
                <span class="nav-item">File Upload</span>
            </a></li>
            <li><a href="#">
                <i class="fas fa-database"></i>
                <span class="nav-item">Files</span>
            </a></li>
            <li><a href="Melt.html">
                <i class="fas fa-chart-area"></i>
                <span class="nav-item">Melt</span>
            </a></li>
            <li><a href="CT.html">
                <i class="fas fa-bacon"></i>
                <span class="nav-item">CT</span>
            </a></li>
            <li><a href="analytics.html">
                <i class="fas fa-chart-bar"></i>
                <span class="nav-item">FDP</span>
            </a></li>
            <li><a href="statistics.html">
                <i class="fas fa-chart-line"></i>
                <span class="nav-item">Statistics</span>
            </a></li>
            <li><a href="report.html">
                <i class="fas fa-file-export"></i>
                <span class="nav-item">Report</span>
            </a></li>
            <li><a href="help.html">
                <i class="fas fa-question-circle"></i>
                <span class="nav-item">help</span>
            </a></li>
            <li><a href="home.html" class="logout">
                <i class="fas fa-sign-out-alt"></i>
                <span class="nav-item">Logout</span>
            </a></li>
        </ul>
    </nav>


</body>
</html>