<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'stylesheets/meltstyle.css')}}">
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Meltcurve Interpreter</title>

</head>
<body>
<form action="{{url_for('Melt')}}" method="POST" enctype="multipart/form-data"><span class="title-header">Melt Analysis</span>
<input type="text" class="user-input" placeholder="Your Username" name ="input-text" id="input-text" required>
<input type="text" class="token-input" placeholder="Your Token" name ="input-text" id="token-text" required>
<button type="submit" class="Load" >Load</button>
</form>
<div class="box" >
    <div id="myPlot">
        
    </div>
    <script>
    var plotDiv = {{ plot_html|safe }}
    </script>
</div>

<nav>
        <ul>
            <li>
                <a href="home.html" class="logo">
                    <img src="{{url_for('static',filename = 'Images/icon.ico')}}" alt="">
                    <span class="nav-item">Meltcurve <br> &nbsp;&nbsp;Interpreter</span>
                </a>
            </li>
            <li><a href="homepage.html">
                <i class="fas fa-home"></i>
                <span class="nav-item">Home</span>
            </a></li>
            <li><a href="index.html">
                <i class="fas fa-file-excel"></i>
                <span class="nav-item">File Upload</span>
            </a></li>
            <li><a href="#">
                <i class="fas fa-database"></i>
                <span class="nav-item">Files</span>
            </a></li>
            <li><a href="Melt.html">
                <i class="fas fa-chart-area"></i>
                <span class="nav-item">Melt</span>
            </a></li>
            <li><a href="CT.html">
                <i class="fas fa-bacon"></i>
                <span class="nav-item">CT</span>
            </a></li>
            <li><a href="analytics.html">
                <i class="fas fa-chart-bar"></i>
                <span class="nav-item">FDP</span>
            </a></li>
            <li><a href="statistics.html">
                <i class="fas fa-chart-line"></i>
                <span class="nav-item">Statistics</span>
            </a></li>
            <li><a href="report.html">
                <i class="fas fa-file-export"></i>
                <span class="nav-item">Report</span>
            </a></li>
            <li><a href="help.html">
                <i class="fas fa-question-circle"></i>
                <span class="nav-item">help</span>
            </a></li>
            <li><a href="home.html" class="logout">
                <i class="fas fa-sign-out-alt"></i>
                <span class="nav-item">Logout</span>
            </a></li>
        </ul>
    </nav>

</body>
</html>